.MuiFormControl-root {
	display: flex !important;
}

.MuiInputAdornment-root.MuiInputAdornment-positionEnd {
	float: right;
	position: absolute !important;
	right: 0;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedEnd {
	width: 100%;
}